# Project exclude paths
/.gradle/
/Simple Chatty Bot (Java)/task/build/
/Simple Chatty Bot (Java)/task/out/
/Simple Chatty Bot (Java)/task/out/production/classes/
/Topics/Conditional statement/Chocolate/out/
/Topics/Conditional statement/Chocolate/out/production/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Introduction to Java/Theory/build/
/Topics/Introduction to Java/Theory/out/
/Topics/Introduction to Java/Theory/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/The for-loop/Size of parts/out/
/Topics/The for-loop/Size of parts/out/production/classes/